<link rel="stylesheet" href="/css/cart.css" />
<link rel="stylesheet" href="/css/table.css" />

<div id="popup" class="popup">
  <div class="popup-content">
    <h2>Carrito de compras</h2>
    <table>
      <thead>
        <tr>
          <th>Producto</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody id="cart-items">

      </tbody>
    </table>
    <p class="end">Total: <strong id="cart-total">$0</strong></p>
    <button id="close-button">Cerrar</button>
  </div>
</div>

<script src="/js/cart.js"></script>